<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--CREATE TABLE IF NOT EXISTS password_reset_table(-->
<!--    email_address VARCHAR(32) NOT NULL,-->
<!--    expired_time DATETIME,-->
<!--    verification_code VARCHAR(32) NOT NULL,-->
<!--    PRIMARY KEY(email_address)-->
<!--);-->

<mapper namespace="com.jhf.beatpoker.web.dao.mapper.IPasswordResetDao">

    <insert id="updateVerificationCode">
            INSERT INTO password_reset_table (email_address, expired_time, verification_code)
            VALUES(#{emailAddress}, #{expiredTime}, #{verificationCode})
            ON DUPLICATE KEY
            UPDATE verification_code = #{verificationCode}
    </insert>

    <select id="getEmailReset" resultType="com.jhf.beatpoker.web.dao.entity.PasswordResetRow">
            SELECT verification_code
            FROM password_reset_table
            WHERE email_address = #{emailAddress}
    </select>


</mapper>